.app {
    background-color: rgb(224, 224, 224);
}

.app header {
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    padding-inline: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(7, 7, 59);
    padding-top: 10px;
}

.newItemButton {
    background-color: rgb(7, 7, 59);
    width: 64px;
    color: rgb(224, 224, 224);
    font-size: 2em;
    padding: 10px;
    border-radius: 200px;
    /* margin-left: 64px; */
}

.newItemButton:hover {
    background-color: rgba(7, 7, 59, 0.781);
}